.GraphHeader {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    margin-top: 10px;
}

.ContentHeader {
    color: #444;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.number {
    color: #065AD8;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.FlexSettingMethod {
    display: flex;
    gap: 10px;
}

.recharts-default-legend {
    display: none;
}