.profile-header{
background: #065AD8;
display: flex;
}
.profile-heading{
  color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.profile-para{
color: #FFF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}