.DetailMain {
  border-radius: 15px 0px 0px 15px;
  background: #fff;
  width: 385px;
  height: 918px;
  flex-shrink: 0;
  padding: 2px 0px 0px 9px !important;
}
.SignatureDetail {
  color: #444;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Circle {
  width: 106px;
  height: 106px;
  flex-shrink: 0;
  fill: #fff;
  stroke-width: 2px;
  stroke: #ededed;
  border-radius: 53px;
  border: 2px solid #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0px 0px 7px;
}
.ProfilePicture {
  color: #7e7e7e;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inputbox {
  padding-top: 33px;
}
.inp {
  width: 343px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 2px solid #ededed;
  background: #fff;
  outline: none;
  color: #7e7e7e;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 0 12px 14px;
}
