@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");

:root {
  --col-1: #eaeaea;
  --col-2: #f5f5f5;
  --col-bluel: #babdf7;
  --col-blued: #c8dcff;
  --col-purplel: #e8c6ff;
  --col-purpled: #f2edf9;
  --col-green: #cdfff7;
}

body {
  margin: auto;
  padding: auto;
}

.header.sticky {
  position: fixed;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.header {
  height: 101px;
  position: relative;
  background: linear-gradient(
    to left,
    var(--col-1),
    var(--col-purplel),
    var(--col-2)
  );
}

.logo {
  width: 100px;
  height: 100px;
}

.logo img {
  width: 100px;
  height: 100px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.home {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home li a {
  margin: 0 20px;
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  color: rgba(94, 94, 94, 0.71);
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 3.5px;
  transition: color 0.1s ease-in-out;
}
.home li a:hover {
  color: rgba(18, 17, 17, 0.71);
}

.Btn-Header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 100px;
  height: 48px;
}
.btn1, .btn2 {
  width: 100px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #787eff;
  color: white;
  margin-right: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  transition: color 0.3s; 
}


.btn1:hover, .btn2:hover {
  color: grey;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .header {
    height: 80px;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .logo img {
    width: 80px;
    height: 80px;
  }

  .home li a {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.5px;
  }

  .Btn-Header {
    margin-right: 10px;
    width: 80px;
    height: 40px;
  }

  .btn1 {
    width: 80px;
    height: 40px;
    margin-right: 3px;
  }

  .btn2 {
    width: 80px;
    height: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    height: 60px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .logo img {
    width: 60px;
    height: 60px;
  }

  .home li a {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .Btn-Header {
    margin-right: 5px;
    width: 60px;
    height: 30px;
  }

  .btn1 {
    width: 60px;
    height: 30px;
    margin-right: 2px;
  }

  .btn2 {
    width: 60px;
    height: 30px;
  }
}
